.header-1 {
  color: blue;
}

.body-1 {
    background-color: rgb(78, 116, 138);
}

#paragraph-1 {
  color: rgb(49, 102, 217);
}

#paragraph-2 {
  color: #28ac5c;
}

/* Add a black background color to the top navigation */
.header-1 {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.header-1 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.header-1 a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.header-1 a.active {
  background-color: rgb(76, 107, 175);
  color: white;
}

.footer {
    background-color: #333;
    overflow: hidden;
}

.header-2 {
    color: #f2f2f2;   
}

.footer div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 1.5em;
  }
   
  .grid__item {
    width: 100%;
    height: 200px;
    background: rgb(76, 107, 175);
  }
/* We used 3 different ways to specify color:
the word "blue", rgb selectors and hex codes */